.buttons{
    border: none;
    font-weight: bold;
    margin-left: 20px;
}
.first-button{
background-color: $first-button-color;
@extend .buttons;
    &:hover {
        background-color: purple;
        transform: scale(1.2);
    }  
}
.second-button{
    background-color: $second-button-color;
    @extend .buttons;
    &:hover {
        background-color: purple;
        transform: scale(1.2);
    }    
}
.third-button{
    background-color: $third-button-color;
    @extend .buttons;
    &:hover {
        background-color: purple;
        transform: scale(1.2);
        }   
}
