<div>
  <div>
    <form>
      <input id="placeholder" [(ngModel)]="todo.title" [(ngModel)]="innerText" name="title" type="text" placeholder="New Todo Here!" required>
      <button (click)="newElement()"><div>+</div></button>
    </form>
  </div>
</div>

<p *ngIf="loading">Loading...</p>

<div class="tasks">
  <div *ngFor="let todo of todosArr">
    <p>{{todo.title}}</p>
    <div>
      <button (click)="complete(todo.id)">completa</button>
      <div>
        <button (click)="delete(todo.id)">delete</button>
      </div>
    </div>
  </div>
</div>
