@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');
/* IMPOSTAZIONI GENERALI */
:root{
    font-family:'Poppins', sans-serif;
    font-size: 16px;
}
.sfondo{
    background-image: url(../img/sfondo.png);
    height: 100%;
    background-attachment: fixed
    ;
}
/* HEADER */
.logo{
    display: block;
    margin-bottom: 30px;
}
#blocco1{
    width: 400;
    height: 300px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom left, blue,aqua);
    margin: 20px;
    padding: 20px;
    color: white;
}
.intro-a{
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 20px;  
}
.li1{
    list-style-type: none;
}
header{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 0 auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* MAIN */
main{
    margin: 20px;
    background-color: white;
    font-size: 1.5em;
    margin-left: 20px;
}
/* ELEMENTI NEL MAIN - ARTICLE */
h2{
    padding-top: 40px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.p1{
    color: gray;
    padding-top:20px;
    padding-bottom: 20px;
}

.p2{
    padding-bottom: 20px;
}
li{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.3em
}
ul{
    list-style: inside;
}
ol{
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 20px;
    list-style-type: inside;
}
span{
    color: purple;
}
code{
    background-color: gray;
    border-radius: 20rem;
}
/* TABELLE */
table{
    text-align: center;
    margin-top: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
caption{
    font-weight: bold;
    margin-bottom: 20px;
}
th{
    background-color: blue;
    padding: 30px;
}
td{
    padding: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.special-td{
    background-color: aliceblue;
}
.last-td{
    border-bottom: 1px solid blue;
}
iframe{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* FORM */
form{
    background-color: grey;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}
h3{
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}
.p3{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
input{
    width: 70%;
    height: 30px;
    border-bottom: dotted; 
}
button{
    height: 35px;
    background-color: blue;
}
/* ELEMENTI NELL' ASIDE */

/* FOOTER */
