body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}
h1{
    color: darkblue;
    font-weight: bold;
    margin-top: 20px;
}
form{
    display: flex;
}
.main-container{
    display: flex;
}
form{
    margin: 20px 40px 0 50px;
}
input{
    padding: 15px 26px;
    background-color: aquamarine;
    color: blue;
}
button{
    width: 100px;
    height: 40px;
    margin-top: 17px;
    color: white;
    border-radius: 45%;
}
.save button{
    background-color: green;
    margin-right: 6px;
}
.save button:hover{
    background-color: greenyellow;
    color: black;
}
.delete button:hover{
    background-color: coral;
    color: black;
}
.delete button{
    background-color: red;
}

.buttons-container{
    display: flex;
    margin-top: -15px;
    margin-left: 15px;
}
