.nav{
    display: flex;
    background-color: #d2ad3c;
    width: 100%;
    border-radius: 2em;
    padding: 20px;
}
ul{
    display: flex;
    flex-direction: space-evenly;
    flex-wrap: wrap;
    padding: 1px;
    width: 100%;
    margin: 10px;
}
#ape{
    width: auto;
    height: 1.4em;
}
#shop{
    display: flex;
    justify-content: center;
    align-items: center;
    
    order: -1;
    width: 100%;
    margin: 5px;
    padding: 1em;
    flex-grow: 1;
}
 .lista{
    font-size: 0.6em;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin: 2.5px;
    background-color: #ffdf7f;
    padding: 0.5em;
    margin: 5px;
    border-radius: 3em;
    width: 45%;
    text-decoration-style: none;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #fef7e2;
    border-radius: 5em;
    padding-bottom: 1em;
}
.section1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    width: 100%;
    margin:1.5em
}
#img{
    border-radius: 3em 3em 0 0;
    width: 100%;
}
.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div1 h2{
    font-weight: bold;
    font-size: 1.2rem;
}
.div1 p {
    margin-bottom: 1em;
    font-size: 0.9em;
}
.prezzo{
    display: flex;
    align-self: center;
    font-size: 1.1rem;
    
}
.addtocard{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #ffdf7f;
    border: none;
    padding: 10px;
    border-radius: 7em;
    width: 120px;

}
