@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Spectral:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Roboto&display=swap');

body{
    font-family: 'roboto', sans-serif;
}
.nav{
    border-bottom: 4px black solid;
    height: 80px;
}
.get-start{
    background-color: black;
    color: white;
}
header{
    background-color: #ffc017;
    height: 550px;
}
nav{
    height: 60px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #ffc017;
}
.logo{
    margin-left: 80px;
    margin-top: 20px;
}
.navli{
    width: 25%;
    list-style: none;
    position: absolute;
    right: 200px;
    top: 25px;
    display: flex;
    justify-content: space-between;
}
 
.start{
     background-color: black;
     color: white;
     padding: 8px 15px;
     border-radius: 60px;
     position: relative;
     top: -7px;

     
}
svg{
    position: absolute;
    height: 90px;
    top: 80px;
    right: 30px;
    
}
.header{
    margin-top: 110px;
    margin-left: 250px;
    

}
.header h1{
     font-size: 6em;
     font-weight: bold;
     font-family: 'spectral', serif;
}
.header p{
    margin-top: 15px;
    font-size: 3em;
}
.header button{
    width: 200px;
    margin-top: 15px;
    font-size: 1em;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 60px;
}
main{
    border-top: 4px solid black;
}
.trend-container{
    margin-left: 300px;
    margin-top: 25px;
}

#trend-logo{
    float: left;
    position: relative;
    top: -10px;
}
h3{
    font-weight: bolder;
    text-transform: uppercase;
}

.article {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    max-width: 33.33333333333333%;
}

article{
     margin: 0 62px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
article img{
    float: left;
    position: relative;
    top: -7px;
    border-radius: 100%;
    width: 30px;
    margin-right: 4px;
}
.a-content{
    display: flex;
}
.a-left{
    width: 55px;
    font-size: 30px;
}

.firsts-articles{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 300px;
    margin-top: 30px;
}
.seconds-articles{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 300px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.a-left{
    color: gray;
    opacity: 0.4;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.a-right p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
.a-right span{
    color: gray;
    display: inline;
}
.star{
    position: relative;
    right: -150px;
}
.master-container{
    display: flex;
    margin-top: 50px;
    border-top: 2px solid gray;
}
.news{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-top: 80px;
}
.user{
    width: 70%;
}
.big-img{
    width: 200px;
    margin-left: 50px;
    flex-direction: right;
}
.user img{
    float: left;
    position: relative;
    top: -7px;
    border-radius: 100%;
    width: 30px;
    margin-right: 4px;
}
.user h4{
    font-weight: bold;
    margin-bottom:10px;
    margin-top: 10px;
    font-size: 1.2em;
}
.user .name{
    color: black;
    opacity: 1;
}
.user p{
    color: rgb(118, 116, 116);
    opacity: 0.6;
    margin-top: 10px;
}
.user span{
    background-color:rgb(162, 160, 160) ;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 60px;
}

.button-container{
    margin-top: 50px
}
aside{
    max-width: 600px;
}
.minititle{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 80px;
}
.button-container{
    margin-top: 10px;
}
aside button{
    width: 150px;
    border: 0.6px solid gray;
    background: transparent;
    padding: 6px;
    margin-top: 3px;
    color: gray;
}
.link-container{
    border-top: 1px solid gray;
    margin-top: 30px;
    width: 600px;
}
.links{
    margin-top: 20px;
}
.links a{ 
    flex-wrap: wrap;
    justify-content: space-around;
    color: gray;
    margin: 13px;
    line-height: 2.8;
}