nav{
    font-size: 3em;
    li{
     list-style-type: none;
    }
}
body{
    color: $text-color;
}
button{
    color: $text-color;
}
header{
    font-size: 2em;
    margin-top: -43px;
}
