nav{
    display: flex;
    height: 100px;
    background: $main-purple-color;
    img{
        height: 100px;
    }
}
header{
    background-image: url('/assets/img/purplebg.opng.jpg');
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
